<% include parciales/_cabecera %>

<div class="container mb-5">
        <h3>Empleado</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Inserte un nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="ci" placeholder="Inserte un ci" class="form-control">
                            </div>
                            <select name="tipo" class="form-control mb-3" id="sel1">
                                <option>Fijo</option>
                                <option>Hora</option>
                                <option>Comision</option>
                            </select>
                            <select name="metodoDePago" class="form-control mb-3" id="sel1">
                                <option>Efectivo</option>
                                <option>Cheque</option>
                                <option>Deposito</option>
                            </select>
                            <div class="form-group">
                                <input type="text" name="salario" placeholder="Inserte un salario" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="celular" placeholder="Inserte un celular" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
    
        </div> 
</div>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Ci</th>
                    <th>Tipo</th>
                    <th>Metodo de pago</th>
                    <th>Salario</th>
                    <th>Celular</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <%for (let i = 0;i < empleados.length;i++){%>
                    <tr>
                        <td><%=i+1%></td>
                        <td><%=empleados[i].nombre%></td>
                        <td><%=empleados[i].ci%></td>
                        <td><%=empleados[i].tipo%></td>
                        <td><%=empleados[i].metodoDePago%></td>
                        <td><%=empleados[i].salario%></td>
                        <td><%=empleados[i].celular%></td>
                        <td>
                            <a href="/crear-boleta/<%=empleados[i].tipo%>/<%=empleados[i].ci%>" class="btn btn-dark ">Generar boleta</a>
                            <a href="/mostrarBoletas/<%=empleados[i].ci%>" class="btn btn-info">Ver Boletas</a>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>
<% include parciales/_pieDePagina %>

