<% include parciales/_cabecera %>
    
    <div class="col-md-7">
        <h1>Boletas Generadas</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Ci</th>
                    <th>Nombre</th>
                    <th>Salario</th>
                    <th>Moneda</th>
                    <th>Metodo de pago</th>
                    <th>Fecha de Pago</th>
                    <th></th>
            
                </tr>
            </thead>
            <tbody>
                <%for (let i = 0;i < boletas.length;i++){%>
                    <tr>
                        <td><%=i+1%></td>
                        <td><%=boletas[i].ci%></td>
                        <td><%=boletas[i].empleado%></td>
                        <td><%=boletas[i].salario%></td>
                        <td>bs</td>
                        <td><%=boletas[i].metodoDePago%></td>
                        <td><%=boletas[i].FechaDePago%></td>
                        
                    </tr>
                <%}%>
            </tbody>
            
        </table>
    </div>
    <a href="/" class="btn btn-blue ">Volver</a>
<% include parciales/_pieDePagina %>